@import "./_variables.scss";
@import "./_mixins.scss";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("https://images.pexels.com/photos/268976/pexels-photo-268976.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 20px 20px 20px 20px;
  border: 2px solid #050407;
  font-family: Georgia, Times, serif;
}

html {
  height: 100%;
  width: 100%;
}

/* ~~~~~ Nav Bar ~~~~~ */

// .nav-bar {
//   display: flex;
//   flex-direction: column;
//   background-image: url("https://images.pexels.com/photos/4261733/pexels-photo-4261733.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
//   background-size: cover;
// }

.nav-bar {
  @include flex(column, nowrap, normal, normal, normal);
  background-image: url("https://images.pexels.com/photos/4261733/pexels-photo-4261733.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

.title-and-greeting {
  @include flex(column, nowrap, normal, normal, center);
  // display: flex;
  // align-items: center;
  // flex-direction: column;
}

.user-name {
  margin-top: 0px;
  color: $white;
}

.whats-cooking {
  display: flex;
  justify-content: center;
  color: $white;
}

.search-bar {
  display: flex;
  width: 13%;
  margin: 10px;
  box-shadow: $darkTealShadow;
}

.tags-drop-down {
  display: flex;
  padding: 15px 32px;
  margin: 10px;
  box-shadow: $darkTealShadow;
}

.filter-text {
  color: $white;
}

.nav-bar-button-container {
  display: flex;
  justify-content: center;
  background: #092541c9;
  padding-top: 15px;
  padding-bottom: 15px;
}

.favorite-recipes-page-button,
.shopping-list-button,
.home-button,
.recipes-to-cook-button {
  text-align: center;
  display: flex;
  padding: 15px 32px;
  margin: 10px 10px 10px 10px;
  border-radius: 3%;
  box-shadow: 4px 3px 5px #073034;
}

.favorite-recipes-page-button:hover,
.shopping-list-button:hover,
.home-button:hover,
.recipes-to-cook-button:hover,
.search-bar:hover {
  background-color: #eac57b;
  transform: scale(1.03);
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fbeb9ca6;
  margin: 10px 10px 10px 10px;
  border-radius: 1%;
  padding: 18px 10px 10px 10px;
  box-shadow: 10px 10px 5px #541d1a91;
}

.recipe-title:hover,
.recipe-card {
  cursor: pointer;
}


/* ~~~~ Recipe View ~~~~ */


.recipe-view, {
  display: flex;
  background-color: #fbeb9ca6;;
  margin: 30px 30px 30px 30px;
  border-radius: 1%;
}

.favorite-button,
.add-to-recipes-to-cook-button {
  flex-direction: row;
  text-align: center;
  padding: 15px 32px;
  margin: 10px 10px 10px 10px;
  border-radius: 3%;
  box-shadow: 4px 3px 5px #073034;
}

.recipe-image {
  border-radius: 3%;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 10px 5px #541d1a91;
}

.recipe-info {
  margin: 10px 10px 10px 10px;
}

.favorite-recipe-page {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
