body {
  display: flex;
  justify-content: center;
  background-color: rgb(255 210 170 / 80%);
}

html {
  height: 100%;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  
}


















.hidden {
  display: none;
}
