body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: url(https://images.pexels.com/photos/566888/pexels-photo-566888.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-color: tan;

}

html {
  height: 100%;
  width: 100%;
}

/* ~~~~~ Nav Bar ~~~~~ */

.nav-bar {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}

.search-bar {
  display: flex;
  width: 20%;
  margin: 10px 10px 10px 10px;
}

.nav-bar-buttons {
  display: flex;
  justify-content: center;
}

.saved-recipes-button,
.shopping-list-button,
.home-button
{
  display: flex;
  width: 20%;
  margin: 10px 10px 10px 10px;
}

.search-button  {
  display: flex;
  width: 20%;
  margin: 10px 10px 10px 10px;
}

.filter-bar {
  display: flex;
  width: 20%;
  margin: 10px 10px 10px 10px;
}

.home-page {
  display: flex;
  justify-content: space-evenly;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid blue;
}

.recipe-title:hover, {
  cursor: pointer;
  /* cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important; */
}






























.hidden {
  display: none;
}
